.Button{
    padding:10px 15px;
    margin: 5px 15px;
    color: white;
    background-color: skyblue;
    font-size: large;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    box-shadow: 15px 15px 25px grey;
}
.Button:hover{
    box-shadow: 10px 10px 25px grey;

}
.clicked{
    box-shadow: 5px 5px 25px grey !important;
}